.mast__title, h1 {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-size: 26px;
}
.mast__text, p {
    font-family: "Prompt", sans-serif;
    font-weight: 100;
    font-size: 18px;
    margin: 0 0 0.5em;
    line-height: 1.5;
    white-space: pre;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a, a:visited, a:link {
    font-family: "Cutive Mono", monospace;
    font-size: 18px;
    margin: 0 0 0.5em;
    line-height: 1.5;
    opacity: 0.85;
    transition: opacity .2s ease-in-out, text-shadow .2s ease-in-out;
    font-weight: 100;
    color: inherit;
    text-decoration: none;
}


span:nth-child(2) {
    animation: blink 1s step-start 0s infinite;
}

a:hover {
    opacity: 1;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    animation: none;
    color: white;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

a:active {
    opacity: 0.8;
    font-weight: bold;
}


body {
    background-image:url(img/background2-medium.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-color: #000000;
}

footer {
    color: white;
    height: 8vh;
}

ul {
    list-style:none;
    padding:0;
    margin: 0 0 0 0;
}

li {
    margin-bottom: 30px;
    margin-top: 30px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.sep {
    border: 0;
    width: 75px;
    height: 1px;
    margin: 1em 0;
    background-color: rgba(255, 255, 255, 0.6);
    animation: opacity 2s ease-in-out both;
}
.opacity-appear {
    animation: dissolve 2s ease-in-out both;
}
.scale-big-appear {
    animation: scale-big 2s ease-in-out both;
}
.mast {
    position: relative;
    align-items: center;
    width: 100%;
    color: #fff;
}

.mast > header {
    z-index: 2;
    position: relative;
}
.mast__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: 50%;
}
.mast__title span {
    animation: letter-glow 0.7s 0s ease both;
}
.mast__title span:nth-child(1) {
    animation-delay: 0.05s;
}
.mast__title span:nth-child(2) {
    animation-delay: 0.1s;
}
.mast__title span:nth-child(3) {
    animation-delay: 0.15s;
}
.mast__title span:nth-child(4) {
    animation-delay: 0.2s;
}
.mast__title span:nth-child(5) {
    animation-delay: 0.25s;
}
.mast__title span:nth-child(6) {
    animation-delay: 0.3s;
}
.mast__title span:nth-child(7) {
    animation-delay: 0.35s;
}
.mast__title span:nth-child(8) {
    animation-delay: 0.4s;
}
.mast__title span:nth-child(9) {
    animation-delay: 0.45s;
}
.mast__title span:nth-child(10) {
    animation-delay: 0.5s;
}
.mast__title span:nth-child(11) {
    animation-delay: 0.55s;
}
.mast__title span:nth-child(12) {
    animation-delay: 0.6s;
}
.mast__title span:nth-child(13) {
    animation-delay: 0.65s;
}
.mast__title span:nth-child(14) {
    animation-delay: 0.7s;
}
.mast__title span:nth-child(15) {
    animation-delay: 0.75s;
}
.mast__title span:nth-child(16) {
    animation-delay: 0.8s;
}
.mast__title span:nth-child(17) {
    animation-delay: 0.85s;
}
.mast__title span:nth-child(18) {
    animation-delay: 0.9s;
}
.mast__title span:nth-child(19) {
    animation-delay: 0.95s;
}
.mast__title span:nth-child(20) {
    animation-delay: 1s;
}
.mast__title span:nth-child(21) {
    animation-delay: 1.05s;
}
.mast__title span:nth-child(22) {
    animation-delay: 1.1s;
}
.mast__title span:nth-child(23) {
    animation-delay: 1.15s;
}
.mast__title span:nth-child(24) {
    animation-delay: 1.2s;
}
.mast__title span:nth-child(25) {
    animation-delay: 1.25s;
}
.mast__text span {
    animation: letter-glow 0.7s 0s ease both;
}
.mast__text span:nth-child(1) {
    animation-delay: 0.05s;
}
.mast__text span:nth-child(2) {
    animation-delay: 0.1s;
}
.mast__text span:nth-child(3) {
    animation-delay: 0.15s;
}
.mast__text span:nth-child(4) {
    animation-delay: 0.2s;
}
.mast__text span:nth-child(5) {
    animation-delay: 0.25s;
}
.mast__text span:nth-child(6) {
    animation-delay: 0.3s;
}
.mast__text span:nth-child(7) {
    animation-delay: 0.35s;
}
.mast__text span:nth-child(8) {
    animation-delay: 0.4s;
}
.mast__text span:nth-child(9) {
    animation-delay: 0.45s;
}
.mast__text span:nth-child(10) {
    animation-delay: 0.5s;
}
.mast__text span:nth-child(11) {
    animation-delay: 0.55s;
}
.mast__text span:nth-child(12) {
    animation-delay: 0.6s;
}
.mast__text span:nth-child(13) {
    animation-delay: 0.65s;
}
.mast__text span:nth-child(14) {
    animation-delay: 0.7s;
}
.mast__text span:nth-child(15) {
    animation-delay: 0.75s;
}
.mast__text span:nth-child(16) {
    animation-delay: 0.8s;
}
.mast__text span:nth-child(17) {
    animation-delay: 0.85s;
}
.mast__text span:nth-child(18) {
    animation-delay: 0.9s;
}
.mast__text span:nth-child(19) {
    animation-delay: 0.95s;
}
.mast__text span:nth-child(20) {
    animation-delay: 1s;
}
.mast__text span:nth-child(21) {
    animation-delay: 1.05s;
}
.mast__text span:nth-child(22) {
    animation-delay: 1.1s;
}
.mast__text span:nth-child(23) {
    animation-delay: 1.15s;
}
.mast__text span:nth-child(24) {
    animation-delay: 1.2s;
}
.mast__text span:nth-child(25) {
    animation-delay: 1.25s;
}
.mast__text span:nth-child(26) {
    animation-delay: 1.3s;
}
.mast__text span:nth-child(27) {
    animation-delay: 1.35s;
}
.mast__text span:nth-child(28) {
    animation-delay: 1.4s;
}
.mast__text span:nth-child(29) {
    animation-delay: 1.45s;
}
.mast__text span:nth-child(30) {
    animation-delay: 1.5s;
}
.mast__text span:nth-child(31) {
    animation-delay: 1.55s;
}
.mast__text span:nth-child(32) {
    animation-delay: 1.6s;
}
.mast__text span:nth-child(33) {
    animation-delay: 1.65s;
}
.mast__text span:nth-child(34) {
    animation-delay: 1.7s;
}
.mast__text span:nth-child(35) {
    animation-delay: 1.75s;
}
.mast__text span:nth-child(36) {
    animation-delay: 1.8s;
}
.mast__text span:nth-child(37) {
    animation-delay: 1.85s;
}
.mast__text span:nth-child(38) {
    animation-delay: 1.9s;
}
.mast__text span:nth-child(39) {
    animation-delay: 1.95s;
}
.mast__text span:nth-child(40) {
    animation-delay: 2s;
}
.mast__text span:nth-child(41) {
    animation-delay: 2.05s;
}
.mast__text span:nth-child(42) {
    animation-delay: 2.1s;
}
.mast__text span:nth-child(43) {
    animation-delay: 2.15s;
}
.mast__text span:nth-child(44) {
    animation-delay: 2.2s;
}
.mast__text span:nth-child(45) {
    animation-delay: 2.25s;
}
.mast__text span:nth-child(46) {
    animation-delay: 2.3s;
}
.mast__text span:nth-child(47) {
    animation-delay: 2.35s;
}
.mast__text span:nth-child(48) {
    animation-delay: 2.4s;
}
.mast__text span:nth-child(49) {
    animation-delay: 2.45s;
}
.mast__text span:nth-child(50) {
    animation-delay: 2.5s;
}
.mast__text span:nth-child(51) {
    animation-delay: 2.55s;
}
.mast__text span:nth-child(52) {
    animation-delay: 2.6s;
}
.mast__text span:nth-child(53) {
    animation-delay: 2.65s;
}
.mast__text span:nth-child(54) {
    animation-delay: 2.7s;
}
.mast__text span:nth-child(55) {
    animation-delay: 2.75s;
}
.mast__text span:nth-child(56) {
    animation-delay: 2.8s;
}
.mast__text span:nth-child(57) {
    animation-delay: 2.85s;
}
.mast__text span:nth-child(58) {
    animation-delay: 2.9s;
}
.mast__text span:nth-child(59) {
    animation-delay: 2.95s;
}
.mast__text span:nth-child(60) {
    animation-delay: 3s;
}
.mast__text span:nth-child(61) {
    animation-delay: 3.05s;
}
.mast__text span:nth-child(62) {
    animation-delay: 3.1s;
}
.mast__text span:nth-child(63) {
    animation-delay: 3.15s;
}
.mast__text span:nth-child(64) {
    animation-delay: 3.2s;
}
.mast__text span:nth-child(65) {
    animation-delay: 3.25s;
}
.mast__text span:nth-child(66) {
    animation-delay: 3.3s;
}
.mast__text span:nth-child(67) {
    animation-delay: 3.35s;
}
.mast__text span:nth-child(68) {
    animation-delay: 3.4s;
}
.mast__text span:nth-child(69) {
    animation-delay: 3.45s;
}
.mast__text span:nth-child(70) {
    animation-delay: 3.5s;
}
.mast__text span:nth-child(71) {
    animation-delay: 3.55s;
}
.mast__text span:nth-child(72) {
    animation-delay: 3.6s;
}
.mast__text span:nth-child(73) {
    animation-delay: 3.65s;
}
.mast__text span:nth-child(74) {
    animation-delay: 3.7s;
}
.mast__text span:nth-child(75) {
    animation-delay: 3.75s;
}
.mast__text span:nth-child(76) {
    animation-delay: 3.8s;
}
.mast__text span:nth-child(77) {
    animation-delay: 3.85s;
}
.mast__text span:nth-child(78) {
    animation-delay: 3.9s;
}
.mast__text span:nth-child(79) {
    animation-delay: 3.95s;
}
.mast__text span:nth-child(80) {
    animation-delay: 4s;
}
.mast__text span:nth-child(81) {
    animation-delay: 4.05s;
}
.mast__text span:nth-child(82) {
    animation-delay: 4.1s;
}
.mast__text span:nth-child(83) {
    animation-delay: 4.15s;
}
.mast__text span:nth-child(84) {
    animation-delay: 4.2s;
}
.mast__text span:nth-child(85) {
    animation-delay: 4.25s;
}
.mast__text span:nth-child(86) {
    animation-delay: 4.3s;
}
.mast__text span:nth-child(87) {
    animation-delay: 4.35s;
}
.mast__text span:nth-child(88) {
    animation-delay: 4.4s;
}
.mast__text span:nth-child(89) {
    animation-delay: 4.45s;
}
.mast__text span:nth-child(90) {
    animation-delay: 4.5s;
}
.mast__text span:nth-child(91) {
    animation-delay: 4.55s;
}
.mast__text span:nth-child(92) {
    animation-delay: 4.6s;
}
.mast__text span:nth-child(93) {
    animation-delay: 4.65s;
}
.mast__text span:nth-child(94) {
    animation-delay: 4.7s;
}
.mast__text span:nth-child(95) {
    animation-delay: 4.75s;
}
.mast__text span:nth-child(96) {
    animation-delay: 4.8s;
}
.mast__text span:nth-child(97) {
    animation-delay: 4.85s;
}
.mast__text span:nth-child(98) {
    animation-delay: 4.9s;
}
.mast__text span:nth-child(99) {
    animation-delay: 4.95s;
}
.mast__text span:nth-child(100) {
    animation-delay: 5s;
}
.mast__text span:nth-child(101) {
    animation-delay: 5.05s;
}
.mast__text span:nth-child(102) {
    animation-delay: 5.1s;
}
.mast__text span:nth-child(103) {
    animation-delay: 5.15s;
}
.mast__text span:nth-child(104) {
    animation-delay: 5.2s;
}
.mast__text span:nth-child(105) {
    animation-delay: 5.25s;
}
.mast__text span:nth-child(106) {
    animation-delay: 5.3s;
}
.mast__text span:nth-child(107) {
    animation-delay: 5.35s;
}
.mast__text span:nth-child(108) {
    animation-delay: 5.4s;
}
.mast__text span:nth-child(109) {
    animation-delay: 5.45s;
}
.mast__text span:nth-child(110) {
    animation-delay: 5.5s;
}
.mast__text span:nth-child(111) {
    animation-delay: 5.55s;
}
.mast__text span:nth-child(112) {
    animation-delay: 5.6s;
}
.mast__text span:nth-child(113) {
    animation-delay: 5.65s;
}
.mast__text span:nth-child(114) {
    animation-delay: 5.7s;
}
.mast__text span:nth-child(115) {
    animation-delay: 5.75s;
}
.mast__text span:nth-child(116) {
    animation-delay: 5.8s;
}
.mast__text span:nth-child(117) {
    animation-delay: 5.85s;
}
.mast__text span:nth-child(118) {
    animation-delay: 5.9s;
}
.mast__text span:nth-child(119) {
    animation-delay: 5.95s;
}
.mast__text span:nth-child(120) {
    animation-delay: 6s;
}
.mast__text span:nth-child(121) {
    animation-delay: 6.05s;
}
.mast__text span:nth-child(122) {
    animation-delay: 6.1s;
}
.mast__text span:nth-child(123) {
    animation-delay: 6.15s;
}
.mast__text span:nth-child(124) {
    animation-delay: 6.2s;
}
.mast__text span:nth-child(125) {
    animation-delay: 6.25s;
}
.mast__text span:nth-child(126) {
    animation-delay: 6.3s;
}
.mast__text span:nth-child(127) {
    animation-delay: 6.35s;
}
.mast__text span:nth-child(128) {
    animation-delay: 6.4s;
}
.mast__text span:nth-child(129) {
    animation-delay: 6.45s;
}
.mast__text span:nth-child(130) {
    animation-delay: 6.5s;
}
.mast__text span:nth-child(131) {
    animation-delay: 6.55s;
}
.mast__text span:nth-child(132) {
    animation-delay: 6.6s;
}
.mast__text span:nth-child(133) {
    animation-delay: 6.65s;
}
.mast__text span:nth-child(134) {
    animation-delay: 6.7s;
}
.mast__text span:nth-child(135) {
    animation-delay: 6.75s;
}
.mast__text span:nth-child(136) {
    animation-delay: 6.8s;
}
.mast__text span:nth-child(137) {
    animation-delay: 6.85s;
}
.mast__text span:nth-child(138) {
    animation-delay: 6.9s;
}
.mast__text span:nth-child(139) {
    animation-delay: 6.95s;
}
.mast__text span:nth-child(140) {
    animation-delay: 7s;
}
.mast__text span:nth-child(141) {
    animation-delay: 7.05s;
}
.mast__text span:nth-child(142) {
    animation-delay: 7.1s;
}
.mast__text span:nth-child(143) {
    animation-delay: 7.15s;
}
.mast__text span:nth-child(144) {
    animation-delay: 7.2s;
}
.mast__text span:nth-child(145) {
    animation-delay: 7.25s;
}
.mast__text span:nth-child(146) {
    animation-delay: 7.3s;
}
.mast__text span:nth-child(147) {
    animation-delay: 7.35s;
}
.mast__text span:nth-child(148) {
    animation-delay: 7.4s;
}
.mast__text span:nth-child(149) {
    animation-delay: 7.45s;
}
.mast__text span:nth-child(150) {
    animation-delay: 7.5s;
}
.mast__text span:nth-child(151) {
    animation-delay: 7.55s;
}
.mast__text span:nth-child(152) {
    animation-delay: 7.6s;
}
.mast__text span:nth-child(153) {
    animation-delay: 7.65s;
}
.mast__text span:nth-child(154) {
    animation-delay: 7.7s;
}
.mast__text span:nth-child(155) {
    animation-delay: 7.75s;
}
.mast__text span:nth-child(156) {
    animation-delay: 7.8s;
}
.mast__text span:nth-child(157) {
    animation-delay: 7.85s;
}
.mast__text span:nth-child(158) {
    animation-delay: 7.9s;
}
.mast__text span:nth-child(159) {
    animation-delay: 7.95s;
}
.mast__text span:nth-child(160) {
    animation-delay: 8s;
}
.mast__text span:nth-child(161) {
    animation-delay: 8.05s;
}
.mast__text span:nth-child(162) {
    animation-delay: 8.1s;
}
.mast__text span:nth-child(163) {
    animation-delay: 8.15s;
}
.mast__text span:nth-child(164) {
    animation-delay: 8.2s;
}
.mast__text span:nth-child(165) {
    animation-delay: 8.25s;
}
.mast__text span:nth-child(166) {
    animation-delay: 8.3s;
}
.mast__text span:nth-child(167) {
    animation-delay: 8.35s;
}
.mast__text span:nth-child(168) {
    animation-delay: 8.4s;
}
.mast__text span:nth-child(169) {
    animation-delay: 8.45s;
}
.mast__text span:nth-child(170) {
    animation-delay: 8.5s;
}
.mast__text span:nth-child(171) {
    animation-delay: 8.55s;
}
.mast__text span:nth-child(172) {
    animation-delay: 8.6s;
}
.mast__text span:nth-child(173) {
    animation-delay: 8.65s;
}
.mast__text span:nth-child(174) {
    animation-delay: 8.7s;
}
.mast__text span:nth-child(175) {
    animation-delay: 8.75s;
}
.mast__text span:nth-child(176) {
    animation-delay: 8.8s;
}
.mast__text span:nth-child(177) {
    animation-delay: 8.85s;
}
.mast__text span:nth-child(178) {
    animation-delay: 8.9s;
}
.mast__text span:nth-child(179) {
    animation-delay: 8.95s;
}
.mast__text span:nth-child(180) {
    animation-delay: 9s;
}
@keyframes letter-glow {
    0% {
        opacity: 0;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    }
    66% {
        opacity: 1;
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    }
    77% {
        opacity: 1;
    }
    100% {
        opacity: 0.8;
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.0);
    }
}

@keyframes opacity {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 275px;
        opacity: 0.4;
    }
}

@keyframes dissolve {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

@keyframes scale-big {
    0% {
        opacity: 0;
        font-size: 100px;
        font-weight: 600;
    }
    100% {
        opacity: 1;
        font-size: 125px;
        font-weight: 600;
    }
}