h1 {
    font-family: Prompt, sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

a:link, a:hover, a:visited, a:active {
    color: rgba(255, 255, 255, 0.75);
}

body {
    /*overflow: hidden;*/
}

body.modal-open .supreme-container{
    /*-webkit-filter: blur(10px);*/
    /*-moz-filter: blur(10px);*/
    /*-o-filter: blur(10px);*/
    /*-ms-filter: blur(10px);*/
    /*filter: blur(10px);*/
}


p {
    color: white;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
}

button, a {
    opacity: 0.85;
    transition: opacity .2s ease-in-out;
}

button:hover, a:hover {
    opacity: 1;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
}

.rel-div {
    position: relative;
}

.rel-div:hover .inner-image-mac {
    filter: alpha(opacity=50);
    opacity: 0.85;
    scale: 1.01;
}

@media (orientation: landscape) {
    .header, .background-img {
        width: 100vw;
        height: auto;
    }

    .background-img {
        content: url("../img/portfolio-background.webp");
    }

    .inner-image-mac {
        position: absolute;
        top: 25px;
        right: 102px;
        z-index: -1;
        scale: 1;
        transition: .5s ease-in-out;
        width: 76%; height: auto
    }
}

@media (orientation: portrait) {
    .header, .background-img {
        width: auto;
        height: 100vh;
    }

    .background-img {
        content: url("../img/portfolio-background-mobile.webp");
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        position: relative;
        overflow: hidden;
    }

    .background-img {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
    }

    .inner-image-mac {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: -1;
        scale: 1;
        transition: .5s ease-in-out;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px;
        padding-right: 50px;
    }
}