h1 {
    font-family: Prompt, sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
}

a:link, a:hover, a:visited, a:active {
    color: rgba(255, 255, 255, 0.75);
}

body {
    overflow: hidden;
}